body{
    margin: 0;
    padding: 0;
    background-color: rgb(43, 42, 42);   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
menu{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#create_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
height: 30vh;
width: 30vw;
border: 0.5vh solid aqua;
}

#username_input{
    animation: fadeIn 2s;
    height: 3vh;
    width: 10vw;
    background-color: rgb(64, 64, 64);
    border: none;
    outline: none;
    color: rgb(242, 242, 242);
    font-size: 20px;
    text-align: center;
    
   
    line-height: 3vh;
    padding: 0;
    margin:0;
    position: absolute;
}


#username_btn{
    animation: fadeIn 2s;
    margin-top: 10vh;
    height: 3vh;
    width: 4vw;
    font-size: 20px;
    background-color: rgb(64, 64, 64);
    border: none;
    color: gray;
}

#username_btn:hover{
    background-color: aqua;
    color: rgb(64, 64, 64);
    font-weight: bold;
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.stretchOut{
    animation: stretchOut 1s;
}
.stretchMore{
    animation: stretchMore 1s;
}

.fadeIn{
    animation: fadeIn 2s;
}

@keyframes stretchOut {
    from {
     opacity: 0%;
      width: 0px;
    }
  }
  
  @keyframes stretchMore {
    from {
    
      width: 30vw;
      height: 30vh;
    }
  }

  .box_background{
    display: grid;
    grid-template-rows: 10vh;
    column-gap: 2vw;
  }

  .greetings_text{
    color: white;
    animation: fadeIn 2s;
  }

  .under_text{
    color: white;
    animation: fadeIn 2s; 
  }

  .class_section{
    width: 10vw;
    height: 10vw;
    border: 0.5vh solid rgb(109, 109, 109);
    grid-row-start: 3;
    justify-self: center;
    animation: fadeIn 2s; 
    transition:  1s;
    transform-origin: top;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
  }

  .class_stats{
    animation: fadeIn 4s;
  }

  .rollOut{
    
  height: 20vw;
  }

  .rollOut:hover{
    transition: 0.2s;
    scale: 1.15;
  }

  img{
    width: 10vw;
    height: 10vw;
    background-color: aquamarine;
  }

  